@media(max-width: 768px) {
html{
    font-size: 30%;
}
.container{
    max-width: 680px;
}
/* -------------SECTIONS-------------------- */
    section#intro{
        height: 45vh;
    }
    section#about{
        min-height: 45vh;
        background-size: 100% 55%;
    }
    section#products{
        min-height: 45vh;
    }
    section#eat{
        min-height: 25vh;
    }
    section#contact{
        min-height: 40vh;
    }
/* ---------------EXTRA------------------ */
.procuct{
    min-height: 35vh;
}
#eat .container h1{
    font-size: 13rem;
}

.contactRight .wrapper form input{
    border: 1px solid #FDA085;
}

.nav_btn:active {
    border: 1px solid #FDA085;
}

.pRight h2{
    font-size: 3.5rem;
}
.pRight p{
    font-size: 2.7rem;
    letter-spacing: .1rem;
}
.right p{
    letter-spacing: .1rem;
}
li.nav-item a{
    font-size: 3rem;
}
.nav_btn a{
    font-size: 3rem !important;
}
.nav_btn{
    width: 15rem;
}
a.navbar-brand.logo{
    font-size: 4.5rem;
}
button.navbar-toggler.collapsed{
    font-size: 2.5rem;
}
button.navbar-toggler{
    font-size: 2.5rem;
}

li.productBtn a{
    font-size: 2.5rem !important;
}

}

/* ########################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */

@media(max-width: 575px) {
    /* UNIVERSIAL */
    html{
        font-size: 28%;
    }
    .container{
        max-width: 680px;
    }
/* -----------------SECTIONS-------------------- */
    section#intro{
        height: 35vh;
    }
    section#about{
        min-height: 35vh;
    }
    section#products{
        min-height: 35vh;
    }
    section#eat{
        min-height: 15vh;
    }
    section#contact{
        min-height: 35vh;
    }
/* ---------------EXTRA------------------ */

/* ABOUT SECTION */
.container.about{
    flex-direction: column;
}
.left{
    width: 85%;
}
.left h3{
   font-size: 6.5rem;
}
.right.my-5 {
    align-items: center;
    text-align: center;
    width: 85%;
}
.right p {
    font-size:3.9rem;
    margin: 0 !important;
    margin-bottom: 6rem !important;
}
.aboutBtn{
    width: 40rem !important;
    height: 10rem;
    margin-left: 0 !important;
}
.nav_btn a{
    font-size: 4rem !important;
}
.nav_btn{
    width: 25rem;
}
/* PRODUCT SECTION */
.procuct {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
.procuct.reverse {
    flex-direction: column-reverse;
}
.pLeft {
    width: 90%;
    margin-bottom: 5rem;
}
.pRight {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 45vh;
    margin-bottom: 5rem;
    text-align: center;
}
h3.productsHeader:after{
    right:43%;
}
.productsHeader{
    font-size: 6.5rem !important;
}
li.productBtn a{
    font-size: 4rem !important;
}
.pRight h2{
    font-size: 5rem;
}
.pRight p{
    font-size: 3.9rem;
}
/* EAT  SECTION */
section#eat{
    min-height: 10vh;
}
#eat .container h1{
    font-size: 10rem;
}
/* CONTACT  SECTION */
#contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.contactLeft {
    width: 90%;
    justify-content: center;
    padding: 5rem 0rem;
}
.wrapper {
    align-items: center;
    justify-content: space-around;
}
.contactRight {
    width: 75%;
    padding-bottom: 5rem;
}
li.productBtn{
    width: 80rem;
    min-height: 10rem;
}
.contactLeft .wrapper h3{
    font-size: 7rem;
}
.contactLeft .wrapper p{
    font-size: 3.5rem;
}

.contactRight .wrapper{
    min-height: 80rem;
    width: 85%;
    justify-content: space-around;
}
.contactRight .wrapper form input{
    height: 8.5rem;
    margin-bottom: 3rem;
    font-size: 2.8rem;
}
.contactRight .wrapper form .text-area{
    height: 15rem;
}
.contactBtn{
    width: 100% !important;
    height: 10rem !important;
}

}