@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Zen+Kurenaido&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "salsa",sans-serif;
}


html{
    font-size: 62.5%;/*10px*/
    scroll-behavior: smooth;
}

h3{
    font-size: 5rem;
}
p{
    font-size: 2rem;
}
.btn{
    transition: .1s all;
}

nav.navbar a {
    font-size: 3rem;
}
li.nav-item {
    margin-left: 2rem;
}

li.nav-item a {
    font-size: 1.7rem;
}

.nav_btn a{
    color: white !important;
    font-size: 1.3rem !important;
    margin-top: .2rem;
}
.nav_btn{
    background: linear-gradient(to left,#F6D365,#FDA085);
    border-radius: 3rem 0rem 3rem 0rem;
    width: 10rem;
    text-align: center;
}
.nav_btn:active {
    border: 3px solid #FDA085;
    background: none;
    transform: scale(.9);
}
.nav_btn:active a{
    color: #FDA085 !important;
}
nav{
    padding-top: 2rem !important;
}
header{
    position: sticky !important;
    top: 0 !important;
    background: white;
    z-index: 999;
}

/* intro section */
#intro{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroBtn {
    position: absolute;
    left: 15%;
    bottom: 13%;
    min-width: 26rem;
    min-height: 8rem;
    border-radius: 7rem 0;
    text-align: center;
    margin-left: 0 !important;
}

.heroBtn a {
    font-size: 3rem !important;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    height: 100%;
    width: 85%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* about */
#about{
    margin-top:4.5rem;
    overflow: hidden;

}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 3rem;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 3rem;
}

.left img {
    width: 100%;
}





.left h3 {
    font-size: 4.5rem;
    color: white;
    margin: 4rem 0rem;
}
.right p {
    font-size: 2.5rem;
}

.aboutBtn a {
    font-size: 2rem !important;
}

.aboutBtn {
    width: 20rem !important;
    height: 6rem;
    margin-left: 0 !important;
}
#about{
    min-height: 100vh;
    background: url("../img/aboutBG.png");
    background-size: 100% 88%;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Products section */
section#products{
    min-height: 100vh;
    background:url(../img/productsBG.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 1rem 0rem;
}

.productsHeader{
    font-size: 4.5rem;
    color: white;
    margin: 5rem 0rem;
    text-align: center;
    position: relative;
}
h3.productsHeader:after {
    content: '';
    position: absolute;
    background: white;
    right: 45.5%;
    bottom: -1rem;
    width: 13rem;
    height: 0.3rem;
}

.pLeft {
    width: 47%;
    min-height: 55vh;
}

.pImg img {
    width: 100%;
}

.procuct {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pRight {
    width: 47%;
    min-height: 55vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.pRight h2 {
    font-size: 3rem;
    LETTER-SPACING: 1.2rem;
    font-weight: bold;
}

.pRight p {
    font-size: 2rem;
    letter-spacing: .11rem;
}

li.productBtn {
    width: 25rem;
    min-height: 6rem;
    margin-left: 0 !important;
}

li.productBtn a {
    font-size: 2rem !important;
}
.pImg:hover img {
    transform: scale(1.3);
}

.pImg {
    overflow: hidden;
}

.pImg img {
    transition: .3s;
}
/* Eat section */
section#eat{
    background: url(../img/eatBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position:center ;
}
#eat .container{
    display: flex;
    justify-content:center;
    align-items: center;
}

#eat .container h1{
    font-size: 15rem;
    color: white;
    width: 100%;
    text-align: center;
    letter-spacing: -.5rem;
}

/* contact section */
section#contact {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/contactBG.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    overflow: hidden;
}

.contactLeft {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 82%;
    justify-content: center;
}

.contactRight {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .container{
    display: flex;
    justify-content: space-between;
    align-items: c;
}
.contactLeft .wrapper h3 {
    margin-bottom: 3rem;
    font-size: 6rem;
    letter-spacing: -.3rem;

}
.contactRight .wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00000057,#00000057) ,url(../img/pexels-jimmy-chan-2586065.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 4rem 5rem;
    border-radius: 1rem;
}

.contactRight .wrapper form {
    width: 100%;
    font-size: 2rem;
    
}

.contactRight .wrapper form input {
    height: 5.5rem;
    padding: 0rem 2.5rem;
    border: 3px solid #FDA085;
    color: #FDA085;
    font-size: 1.5rem;
}
.contactRight .wrapper form .text-area {
    height: 10rem;
}
.contactBtn {
    width: 80%;
    height: 6rem;
    margin-left: 0 !important;
    margin: auto !important;
    margin-top: 4rem !important;
}

.contactBtn a {
    font-size: 2rem !important;
}
.contactLeft .wrapper p {
    font-size: 2.5rem;
}

/* footer section */
#footer.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 25vh;
    border-bottom: 3px solid;
}
.lists {
    font-size: 1.7rem;
    text-align: center;
}

.lists ul {
    list-style: none;
    line-height: 3.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer#footer {
    background: #161616;
    color: white;
}
.lowerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}

.lowerFooter ul {
    margin: 0;
    padding: 0;
}

.lowerFooter ul li {
    display: inline-block;
    text-align: center;
    margin: 0px 2rem;
    width: 8rem;
    height: 8rem;
}

.lowerFooter ul li a {
    display: block;
    color: white;
    font-size: 3rem;
    width: 7rem;
    height: 7rem;
    border: 2px solid;
    border-radius: 10rem;
    transition: .3s;
}

.lowerFooter ul li a i {
    line-height: 7rem;
}

.lowerFooter p {
    margin: 0;
    padding-top: 3rem;
}
.lowerFooter ul li a:hover {
    color: #FDA085;
    transform: scale(1.1);
}